<div *ngIf = "this.jobs">
    <ul ngl-accordion [(activeName)]="this.jobs.company">
        <ng-container *ngFor="let job of jobs">
          <ng-template nglAccordionSection [name]="jobs.company" [label]="jobs.company" [labelContext]="jobs.company">{{ job.jobTitle }}</ng-template>
        </ng-container>
      </ul>
      <ng-template #header let-data>
        <div class="slds-grid slds-grid_vertical-align-center">
          <strong>{{jobs.company}}</strong>
        </div>
      </ng-template>
</div>
