<div style="margin-top: 50px;">
<p-table [value] = "this.jobs" (onRowSelect) ="onRowSelect($event)" selectionMode ="single" [(selection)] ="selectedJob" pagination ="true" [rows] = 5 [responsive] = true>
  <ng-template pTemplate ="caption">
    List of Jobs
  </ng-template>
  <ng-template pTemplate ="header">
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Notes</th>
      <th>Status</th>
    
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-job>
    <tr [pSelectableRow]="job">
      <td>{{job.company}}</td>
      <td>{{job.jobTitle}}</td>
      <td>{{job.notes}}</td>
      <td>{{job.status}}</td>
    </tr>
</ng-template>
<ng-template pTemplate="summary" let-job>
  <div style="text-align:left">
      <button type="button" pButton icon="pi pi-refresh" (click)="refresh()" label="Refresh"></button>
  </div>
</ng-template>    
</p-table>
</div>


  <p-dialog  header ="Job Details"  [(visible)] = "displayDialog" [focusOnShow] = "false" [responsive] = "true" showEffect="fade" [modal]="true"  >
    <div class="ui-g ui-fluid" *ngIf="jobDetail">
      <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="company">Company</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="company" [(ngModel)]="jobDetail.company" autofocus disabled/>
            </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="company">Job Title</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="jobTitle" [(ngModel)]="jobDetail.jobTitle" autofocus disabled />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="company">Location</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="location" [(ngModel)]="jobDetail.location" autofocus />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="company">Notes</label>
          </div>
          <div class="ui-g-8">
              <textarea pInputTextarea id="notes" [(ngModel)]="jobDetail.notes" autofocus ></textarea>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="company">Link</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="link" [(ngModel)]="jobDetail.link" autofocus />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="company">Status</label>
          </div>
          <div class="ui-g-8">
              <div class="ui-g-12"><p-radioButton name="group1" value="Pending" label="Pending" [(ngModel)]="jobDetail.status" inputId="opt1"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="Rejected" label="Rejected" [(ngModel)]="jobDetail.status" inputId="opt2"></p-radioButton></div>
              <div class="ui-g-12"><p-radioButton name="group1" value="In Progress" label="In Progress" [(ngModel)]="jobDetail.status" inputId="opt3"></p-radioButton></div>
          </div>
        </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
    

  </p-dialog>








<!-- <h3 class="first">Basic</h3> 
<p-table [value]="jobs">
    <ng-template pTemplate="header">
        <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Notes</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
        <tr>
            <td>{{job.company}}</td>
            <td>{{job.jobTitle}}</td>
            <td>{{job.location}}</td>
            <td>{{job.notes}}</td>
        </tr>
    </ng-template>
</p-table>
-->