<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">JobHunt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav  mr-auto">
        <li  *ngIf = "!this.authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] ="{exact:true}">
          <a [routerLink] = "['/']" class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li  *ngIf = "!this.authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] ="{exact:true}">
          <a [routerLink] = "['/register']" class="nav-link" href="#">Register</a>
        </li>
        <li  *ngIf = "this.authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] ="{exact:true}">
          <a [routerLink] = "['/profile']" class="nav-link" href="#">Profile</a>
        </li>
        <li  *ngIf = "this.authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] ="{exact:true}">
          <a [routerLink] = "['/company-add']" class="nav-link" href="#">Company Add</a>
      </li>
        <li  *ngIf = "this.authService.loggedIn()" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] ="{exact:true}">
            <a [routerLink] = "['/company-list']" class="nav-link" href="#">Company List</a>
        </li>
      </ul>

      <ul class="navbar-nav nav navbar-right">
        <li *ngIf = "this.authService.loggedIn()">
            <a (click) = "onLogoutClick()" class="nav-link" href="#">Logout</a>
        </li>
     </ul>
    </div>
  </nav>